    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I'm an Engineering Lead, specialising in building systems and applications in the cloud. I live with my wife and our dog Akari somewhere in the UK.</p>
                <p>You can find my LinkedIn profile in the contact section on the top right if you are interested in what I am currently doing or if you want to hire me.</p>
            </div>
        </div>
    </section>
